<!DOCTYPE HTML>

<html>
	<head>
		<title>Style transfer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{url_for('static',filename = 'assets/css/main.css')}}" />
		<link href="{{url_for('static',filename = 'css/flexslider.min.css')}}" rel="stylesheet" type="text/css" media="all"/>
        <link href='{{url_for("static",filename ="css/line-icons.min.css")}}' rel="stylesheet" type="text/css" media="all"/>
        <link href='{{url_for("static",filename ="css/elegant-icons.min.css")}}' rel="stylesheet" type="text/css" media="all"/>
        <link href='{{url_for("static",filename ="css/lightbox.min.css")}} ' rel="stylesheet" type="text/css" media="all"/>
        <link href='{{url_for("static",filename ="css/bootstrap.min.css")}} 'rel="stylesheet" type="text/css" media="all"/>
        <link href='{{url_for("static",filename ="css/theme.css")}}' rel="stylesheet" type="text/css" media="all"/>
        <link href='{{url_for("static",filename ="css/custom.css")}}' rel="stylesheet" type="text/css" media="all"/>
        <link href='{{url_for("static",filename ="css/uploadbox.css")}} 'rel="stylesheet" type="text/css" media="all"/>
        <link href='{{url_for("static",filename ="css/uploadimage.css")}}' rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->
        <link href='{{url_for("static",filename ="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700")}} 'rel='stylesheet' type='text/css'>
    
	</head>
	<body class="is-preload">

		<!-- Header -->
			

		<!-- Nav -->
	

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Image style transfer</h1>
					
				</div>
				<video autoplay loop muted playsinline src="{{url_for('static',filename = 'assets/images/video.mp4')}}"></video>
			</section>

		<!-- Highlights -->
			<div class="container">
					<form method = POST action="upload2" enctype = "multipart/form-data">
						<div class="container">
						<div class="wrapper">
						  <div class="box">
							<div class="js--image-preview"></div>
							<div class="upload-options">
							  <label>
								<input type="file" class="image-upload" name="photos" accept="image/*"  placeholder="select an image to apply style"/>
							  </label>
							</div>
						  </div>
						</div>
						<div class="col-xs-12">
						<center>
						<p>Select Filters:</p>
						  <div class="cc-selector-2">
							<input id="candy" type="radio" name="filter" value="candy" />
							<label class="drinkcard-cc candy" for="candy"></label>
							<input id="mosaic" type="radio" name="filter" value="mosaic" />
							<label class="drinkcard-cc mosaic" for="mosaic"></label>
							<input id="rain_princess" type="radio" name="filter" value="candy" />
							<label class="drinkcard-cc rain_princess" for="rain_princess"></label>
							<input id="udnie" type="radio" name="filter" value="udnie" />
							<label class="drinkcard-cc udnie" for="udnie"></label>
						  </div>
						</center>
						</div>
						<div class="col-xs-12">
						<center>
						<p>Select Choice of Effects:</p>
						  <select class="" name = "choice">
							<option value = "complete" >Complete</option>
							<option value = "foreground" >Foreground</option>
							<option value = "background" >Background</option>
						  </select>
						</center>
						</div>
						<div class="col-xs-12">
						  <center>
							<input type="submit" class="btn btn-primary">
						  </center>
						</div>
						</div>
					  </form>
				  
			</div>

		<!-- CTA -->
			

		
	

		<!-- Scripts -->
			<script src="{{url_for('static',filename = 'assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static',filename = 'assets/js/browser.min.js')}}"></script>
			<script src="{{url_for('static',filename = 'assets/js/breakpoints.min.js')}}"></script>
			<script src="{{url_for('static',filename = 'assets/js/util.js')}}"></script>
			<script src="{{url_for('static',filename = 'assets/js/main.js')}}"></script>
			<script src='{{url_for("static",filename ="js/uploadimage.js")}}'></script>
			<script src='{{url_for("static",filename ="js/scripts.js")}}'></script>
			<script src='{{url_for("static",filename ="js/jquery.min.js")}}'></script>
				<script src='{{url_for("static",filename ="js/jquery.plugin.min.js")}}'></script>
				<script src='{{url_for("static",filename ="js/bootstrap.min.js")}}'></script>
				<script src='{{url_for("static",filename ="js/jquery.flexslider-min.js")}}'></script>
				<script src='{{url_for("static",filename ="js/smooth-scroll.min.js")}}'></script>
				<script src='{{url_for("static",filename ="js/skrollr.min.js")}}'></script>
				<script src='{{url_for("static",filename ="js/spectragram.min.js")}}'></script>
				<script src='{{url_for("static",filename ="js/scrollReveal.min.js")}}'></script>
				<script src='{{url_for("static",filename ="js/isotope.min.js")}}'></script>
				<script src='{{url_for("static",filename ="js/twitterFetcher_v10_min.js")}}'></script>
				<script src='{{url_for("static",filename ="js/lightbox.min.js")}}'></script>
				<script src='{{url_for("static",filename ="js/jquery.countdown.min.js")}}'></script>
		

	</body>
</html>